**/bin/
**/obj/
.vs/
.vscode/
artifacts/
TestResults/
*.user
*.suo
*.cache
*.log

appsettings.Local.json
appsettings.*.Local.json
.env
.env.*
!.env.example

publish/
*.pubxml.user
**/App_Data/DataProtection-Keys/
